@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}
// This is width-height Function Here

@mixin font-style($color, $size, $weight: 500, $lineHeight: 1.2em, $letterSpace: 0.8px) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  letter-spacing: $letterSpace;
}
// This is Font-Style Function Here

@mixin backgroud-Image($image,$size,$repeat,$position){
  background-image: url($image);
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
}
// This is Backgroud Function Here

@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}
// This is Padding Function Here

@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}
// This is Margin Function Here

@mixin flex($display, $align, $content, $direction) {
  display: $display;
  align-items: $align;
  justify-content: $content;
  flex-direction: $direction;
}
// This is Flex Function Here
