$primary-color:#000;
$logo-color:#ff6347;
$primary-fontsize:10px;
$primary-fontstyle:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$primary-background:#f6f6f6;